:root {
    --clr-very-dark-desat-blue: hsl(238,29%,16%);
    --clr-soft-red: hsl(14,88%,65%);
    --clr-soft-violet: hsl(273,75%,66%);
    --clr-soft-blue: hsl(240,73%,65%);
    --clr-very-dark-gray-blue: hsl(237,12%,33%);
    --clr-dark-gray-blue: hsl(240,6%,50%);
    --clr-light-gray-blue: rgb(201, 201, 201);
    --clr-almost-white: rgb(247, 247, 247);
    --font-primary: 'Kumbh Sans';
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-image: linear-gradient(90deg, var(--clr-soft-violet), var(--clr-soft-blue));
    font-family: var(--font-primary);
    font-size: .8rem;
    color: var(--clr-very-dark-desat-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.illustration-box {
    max-width: 25%;
    z-index: 1;
    position: absolute;
    left: 0;
    transform: translate(1rem, -2rem);
    
}

.card {
    position: relative;
    background-color: var(--clr-almost-white);
    border-radius: 1rem;
    width: 60%;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;         
}

@media screen and (min-width:1024px) {

    .card {
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: 65%;
        background-position: left -7rem center;
        display: flex;
        flex-direction: row;  
        max-width: 45rem;
        justify-content: center;
    }  
    .card-illustration {
        width: 50%;
        position: absolute;
        bottom: -50%;
        transform: translate(-2rem, 50%);
    }

    .card-accordion{
        width: 50%;
    }

    .illustration-box {
        bottom: 50%;
        transform: translate(-5rem, 60%);
    }
      
}

.card-illustration {
    position: relative;
    height: 3rem;
}

.illustration-woman {
    width: 100%;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%,-70%);
    
}

footer {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}


details > summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

.arrow-down,
.arrow-up {
    width: 10px;
    height: 8px;
}

.card-accordion {
    padding: 1.5rem
}
details {
    border-bottom: solid 1px var(--clr-light-gray-blue);
    margin-bottom: 1rem;
}

details p {
    color: var(--clr-dark-gray-blue);
    margin-bottom: 1rem;    
}

summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

summary:hover{
    color: var(--clr-soft-red);
}

.arrow-up {
    display: none;
    transform: rotateZ(180deg);
}

details[open] .arrow-down {
    display: none;
}

details[open] .arrow-up {
    display: flex;
}

details[open] summary {
    font-weight: 700;
}